<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456674972952-3he75uba7ehjnk7tc4ljolda2f59okn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456674972952-3he75uba7ehjnk7tc4ljolda2f59okn0</string>
	<key>API_KEY</key>
	<string>AIzaSyB_fy7lBlBoGGgn9ROZrRMSezdq9LkQikM</string>
	<key>GCM_SENDER_ID</key>
	<string>456674972952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterShoppingListTutorial</string>
	<key>PROJECT_ID</key>
	<string>shopping-list-58f08</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-list-58f08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456674972952:ios:adc322248c48f820293a6d</string>
</dict>
</plist>